<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
  		http://www.springframework.org/schema/beans
  		http://www.springframework.org/schema/beans/spring-beans.xsd
  		http://www.springframework.org/schema/context
  		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop  
		http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
                 <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
                 <tx:method name="list*" propagation="SUPPORTS" read-only="true"/>
                 <tx:method name="load*" propagation="SUPPORTS" read-only="true"/>
                 <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
                 <tx:method name="search*" propagation="SUPPORTS" read-only="true"/>
                 <tx:method name="query*" propagation="SUPPORTS" read-only="true"/>
                 <tx:method name="*CallbackProcess" propagation="REQUIRED" isolation="SERIALIZABLE"/>
                 <tx:method name="*" propagation="REQUIRED" no-rollback-for="ConfigurationException,MessagingException,MailSendException,MessageRuntimeException"/>
        </tx:attributes>
    </tx:advice>
    
    <aop:config>
        <aop:pointcut id="interceptorPointCuts"
            expression="execution(* com.itech.ups..*.*Service.*(..))" />
        <aop:advisor advice-ref="txAdvice"
            pointcut-ref="interceptorPointCuts" />        
    </aop:config>   
</beans>